body {
  background-color: LightGray;
  font-family: terminus;
}

.title{
  position: relative;
  height: 150px;
  left:20%;
}

.theme_container {
  position : absolute;
  top:180px;
  width: 500px;
  height:770px;
  overflow:scroll;
}

.terminal_overview {
  position: relative;
  margin-top: 50px;
  margin-left: 2%;
}

.term_palette {
  margin-top: 20px;
  width: 240px;
  height: 120px;
}

.theme_desc {
  position:absolute;
  display: inline-block;
  margin-left:20px;
  margin-top:20px;
  float:right;

}

.btn_dwtheme {
  position:relative;
  display: inline;
  margin-top: 15px;
  margin-left: 0px;
}

.colorscheme {
  position: absolute;
  left: 530px;
  top: 200px;
  float: right;
  width:300px;
  height:400px;
}

 /* TMUX DESIGNER */ 
.tmux_frame {
  position: absolute;
  display:block;
  left:900px;
  top: 200px;
  width:700px;
  height:459px;
  font-weight: normal;
}

.tmux_visualizer {
  position: absolute;
  background-color: DimGray;
  left:1000px;
  top:220px;
  float: right;
  width:506px;
  height:410px; 
  border-radius:4px;
}

.tmux_timeFrame {
  position:absolute;
  left: 590px;
  top:380px;
  z-index:2;
}

.tmux_dateFrame {
  position:absolute;
  left: 500px;
  top:315px;
  z-index:2;
}

.tmux_WSF {
  position:absolute;
  left: 400px;
  top:265px;
  z-index:2;
}

.tmux_paneFrame {
  position:absolute;
  left: 10px;
  top:380px;
  z-index:2;
}

.tmux_PABS {
  position:absolute;
  left: 370px;
  top:20px;
  z-index:2;
}

.tmux_PBS {
  position:absolute;
  left: 530px;
  top:135px;
  z-index:2;
}

.vline {
  position: absolute;
  top: 25px;
  left:360px;
  height: 385px;
  border-left: 1px solid cyan; 
  z-index:1;
}

.hline {
  position: absolute;
  top: 70px;
  left:483px;
  height: 244px;
  border-left: 1px solid lightGray; 
  transform:rotate(90deg);
  z-index:1;
}

.statusbar {
  position:absolute;
  color:#494949;
  background-color:#494949;
  left: 0px;
  top: 391px;
}

.left_statusbar {
  position:absolute;
  color:#FF6699;
  background-color:#FF6699;
  left: 0px;
  top: 391px;
  z-index: 1;
}

.l_statusbar_text {
  position:absolute;
  color:#333333;
  left: 3px;
  top: 0px;
  font-weight:normal;
}

.center_statusbar {
  position:absolute;
  color:#AABB99;
  background-color:#AABB99;
  left: 150px;
  top: 391px;
}

.c_statusbar_active {
  position:absolute;
  color:#333333;
  left: 3px;
  top: 0px;
  width :150px;
  font-weight: normal;
}

.c_statusbar_inactive {
  position:absolute;
  background-color:#505050;
  left: 100px;
  top: 0px;
  width: 80px;
  font-weight: normal;
}

.right_statusbar {
  position:absolute;
  background-color: #494949;
  color:#494949;
  left: 361px;
  top: 391px;
}

.r_statusbar_date {
  position:absolute;
  background-color: WhiteSmoke;
  left: 14px;
  top: 0px;
  font-weight:normal;
}

.r_statusbar_time {
  position:absolute;
  background-color:cyan;
  width: 46px;
  left: 95px;
  padding-left: 5px;
  top: 0px;
  font-weight: normal;
}
