body {
  font-family:Roboto,Oxygen,Ubuntu;
  font-size:150%;
  background-color: WhiteSmoke;
}

.frame {
  position: absolute;
  left: 400px;
  text-align:center;
  top: 0px;
  width:1000px;
  height:1000px;
  background-color:whitesmoke;
}

.title {
	font-size:200%;
}

.timer {
  margin-left: 15%;
}

.header {
  position: relative;
  top:30px;
  height:160px;
  background-color: #ccd8dd;
  border-radius: 15px;
	font-weight:bold;
	color:#698e9c;
}

.btn {
  position:relative;
  top: 150px;
  left: 30px;
}

img {
  margin-left: 30px;
  margin-top: 30px;
}

.cert {
/*	font-family:DaddySpace;*/
	font-size:30px;
	color:#92C4D8;
}

.score {
	margin-left:0%;
	text-align: left;
	font-size:90%;
}

.timer {
	text-align: right;	
	font-size:90%;
}

.calc {
  position: relative;
  top: 50px;
	font-size:300%;
  color: #698e9c;
}

button{
	width:100px;
	height:100px;
	margin-bottom:1%;
	margin-right:0.5%;
	font-size:60px;
}

input {
  font-size: 100%;
  text-align:center;
  padding: 5px 7px;
}

canvas {
  background-color: white;
  border-radius: 20px;
  -moz-box-shadow: 3px 3px 5px 6px black;
}


