body {
  font-family:Roboto,Oxygen,Ubuntu;
  font-size:150%;
  background-color: WhiteSmoke;
}

.frame {
  position: absolute;
  text-align:center;
  top: 50px;
  left: 30px;
  width:100%;
  height:100%;
  background-color:whitesmoke;
}

.title {
	font-size:200%;
}

.timer {
  position:absolute;
  top: 0px;
  left: 800px;
  color:#8396a6;
}

.header {
  position:absolute;
  top:10px;
  height:160px;
  width: 95%;
  background-color: #ccd8dd;
  border-radius: 15px;
	font-weight:bold;
	color:#698e9c;
}

.interface {
  position: absolute;
  left: 60px;
  top: 580px;
}

img {
  margin-left: 30px;
  margin-top: 30px;
}


.score {
  position: relative;
	font-size:90%;
}

.calc {
  position:absolute;
  top: 290px;
  left : 130px;
  float: left;
	font-size:400%;
  font-weight: bold;
  color:#698e9c;
}

.res_input {
  position:absolute;
  left: 650px;
  margin-left: 50px;
  top:290px;
  font-size: 72px;
  font-size:400%;
  font-weight: bold;
  color:#698e9c;
}

.footer {
  position: absolute;
  left: 300px;
  top: 1650px;
}
/* ---- BUTTONS ---- */
.btn {
  width: 200px;
  height 200px;
  padding: 20px;
}

.btn_PSM {
  position: relative;
  top: 20px;
}

.btn_header {
  position: absolute;
  left: 50px; 
}

.startBTN {
  position:absolute;
  top: 15px;
  left:600px;
}


input {
  font-size: 100%;
  text-align:center;
  padding: 5px 7px;
}

canvas {
  background-color: white;
  border-radius: 20px;
  -moz-box-shadow: 3px 3px 5px 6px black;
}

.cert {
  position: absolute;
  top 120px;
  left : 0px;
  width: 600px;
  height: 900px;
  background-color: #ccd8dd;
  border-radius: 15px;
	font-size:30px;
	color:#92C4D8;
}

