body { 
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
}

* {
   font-size:16px;
 }

/* HEADER */
.header {
  width:100%;
  height:150px;
  top: 0;
  background-color:WhiteSmoke;
  background-image: url("Res/Header2.png");
}

/* Logo */ 
.logo {
  position:absolute;
  top: 30px;
  width:150px;
  height:150px;
  margin-left: 30px;
}

/* Button Menu */
.btn_menu {
  cursor: pointer;
  background-color: white;
  height: 30px;
  border: 1px LightGray;
  border-style: solid;
  border-radius: 10px;
}

.btn_menu:hover {
      border-style: solid;
      border-color: CadetBlue; 
      color: orange;
}

.burger_menu {
  visibility: hidden;
}

/* Navigation bar */
.inline_menu {
  position: absolute;
  display:inline;
  top: 128px;
  left: 25%;
}

.inline_menu a {
  color: White;
	font-size: 20px;
  padding: 0.75em;
  text-decoration: none;
  text-align:center;
  margin-left: 15px;
}

.inline_menu a:hover {
    text-decoration: underline;
}

.inline_menu > .line {
	background: #000;
	height: 1px;
	pointer-events: none;
}

/* INDEX PAGE */
.frame {
  position:relative;
  top:0px;
  left: 250px;
  width: 95%;
  height: 1200px;
  border: 0px;
  overflow-x: hidden;
  overflow-y:scroll;

}

.presentation {
  position: relative;
  top: 50px;
  left: 30px;
  z-index: -1;
}

.presentation p {
  margin-left: 30px;
  width: 50%;
  text-align: justify;
}

/* GAME CARDS */
.cards_container {
  position: absolute;
  display: block;
  top: 0;
  max-width: 1500px;
  z-index: 0;
}

.cards_container a:hover {
  cursor: pointer;
}

.cards_image {
  position: relative;
  height:150px;
}

.card {
  display:block;
  margin-top: 5%;
  width:700px;
  height:100px;
  padding-bottom: 50px;
  background-color: WhiteSmoke;
  border-radius: 5px;
}

.card_text {
  position:absolute;
  display:inline-block;
  margin-top: 10px;
  margin-left: 20px;
  width: 450px;
  word-wrap: break-word;
}

.not_available {
  position: relative;
  top: 180px;
  left: 560px;
}

/* PROJECTS*/ 
/* projects_container contains all projects */
.projects_container {
  position: relative;
  top: 0;
  width: 1000px;
}

/* project_grids contains just one project */
.project_grid {
  position: relative;
  top: 30px;
  left: 0;
  margin-top:0;
  height: 400px;
}

.project_grid_simple_txt{
  position: relative;
  top: 30px;
  left: 0px;
  margin-top: 30px;
  height: 250px;
  width: 600px;
}

.projects p {
  margin-left: 30px;
  text-align: justify;
}

.project_grid img {
  position: relative;
  display:inline;
  float: left;
  padding-right: 20px;
  padding-bottom : 20px;
  height: 200px;
  top: 20px;
}

.row_img {
  position: relative;
  float:left;
  padding-right: 20px;
  padding-bottom : 0px;
}

.projects h2 {
  margin-left: 190px;
  font-weight: bold;
}

.projects_txt {
  position: relative;
  display: inline;
  float: left;
  top:10px;
  width: 85%;
  text-align: justify
}

/* ARTICLES */
.articles_container {
  position: absolute;
  display: block;
  top: 0px;
  max-width: 1500px;
  z-index: 0;
}

.articles_container a:hover {
  cursor: pointer;
}

.article_image {
  position: relative;
  left:0px;
  height:150px;
}

.article {
  display: block;
  margin-top: 5%;
  width: 700px;
  height: 100px;
  padding-bottom: 50px;
  background-color: WhiteSmoke;
  border-radius: 5px;

}

.article_text {
  position: absolute;
  display: inline-block;
  margin-top: 50px;
  margin-left: 20px;
  width: 380px;
  word-wrap: break-word;
 }


/* FORMATION */
.formation_grid {
  position: relative;
  top: 50px;
  left: 30px;
  z-index: -1;
}

.formation {
  margin-left: 30px;
  width: 50%;
  text-align: justify;
}

/* FOOTER */ 
.footer {
  background-color: DimGray;
  margin-top: 17%;
  padding:40px;
}

.footer_txt {
  color: white;
  font-weight: bold;
  text-align: center;
}

