body {
   font-family: sans-serif;
}

.header { 
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:70px;
  background-color:WhiteSmoke;
  background-image: url("Res/Header.png");
}

.logo {
  position:absolute;
  left: 30px;
  top: 5px;
  width: 60px;
  height:60px;
}

.inline_menu {
  visibility: hidden;
}

/* BURGER */
.burger_menu {
  position: absolute;
  top:10px;
  left:70%;
  height:40px;
  z-index:2;
}

.burger_menu .checkbox {
  position: absolute;
  top: 10px;
  width: 25px;
  height:40px;
  left:70%;
  transition: .5s;
  opacity: 0;
  cursor:pointer;
  z-index:3;
}

.burger_menu .lines {
  position:relative;
  display:block;
  left:30px;
  top:10px;
  width: 25px;
  height: 4px;
  margin: 6px auto;
  border-radius: 4px;
  background: Black;
}

.burger_menu .side_list{
  position:absolute;
  display: block;
  top: 0%;
  left: -100px;
  width: 150px;
  height: 65%;
  padding: 200px 20px;
  text-align: center;
  background-color: #444449;
  visibility: hidden;
}

.burger_menu .side_list ul {
  position: absolute;
  top: 50px;
}

.burger_menu .side_list li {
  position:relative;
  top: 30px;
  line-height:25px;
  padding-top:10px;
  list-style:none;
}

.burger_menu .side_list a {
  display:block;
  color: WhiteSmoke;
  text-decoration:none;
  width:100%;
  line-height:30px;
  font-size: 20px;
}

.burger_menu .side_list a:hover {
    text-align:center;
    line-height: 30px;
    background: DarkCyan;
    width: 100%;
}

/* INDEX PAGE */
.frame {
  position: relative;
  top: 50px;
  left: 15px;
  width: 95%;
  height: 1300px;
  border: 0px;
  overflow-x: hidden;
  overflow-y:scroll;
  z-index: 0;
}

.index {
  position: relative;
  top: 140px;
  left: 30px;
 }

.index p {
  margin-left: 30px;
  width: 90%;
  text-align: justify;
  word-break:break-word;
}

.presentation {
  position: relative;
  top: 50px;
  left: 0%;
  z-index: -1;
}

.presentation p {
  width: 95%;
  text-align: justify;
  word-break:break-word;
}

/* SEPARATOR */
.horizontal-divider {
  position: relative;
  margin-top: 80px;
  width: 80%;
}

.horizontal-divider .shadow {
  overflow: hidden;
  height: 20px;
}

.horizontal-divider .shadow:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/25px;
  box-shadow: 0 0 4px DimGray ;
}

/* CARDS */
.cards_container {
  position:relative;
  display:block;
  top: 0px;
  width: 90%;
  padding-top: 40px;
  z-index:0;
}

.cards_container a:hover {
  cursor: pointer;
}

.cards_image {
  position: relative;
  top:0px;
  height:50px;
}

.card {
  display:block;
  top: 200px;
  margin-bottom: 100px;
  width: 300px;
  height:80px;
  padding-bottom: 20px;
  }
 
.card_text {
  position: relative;
  display:inline-block;
  margin-top:10px;
  top: 0%;
  left: 5px;
  width: 90%;
  text-align:justify;
}

.not_available {
  position: relative;
  top: 30px;
  left: 130px;
  height:25px;
}

/* ARTICLES */
.articles_container {
  position: relative;
  display:block;
  top: 0px;
  width: 95%;
  padding-top: 40px;
  z-index:0;
}

.articles_container a:hover {
  cursor: pointer;
}

.article_image {
  position: relative;
  height:50px;
}

.article {
  position: relative;
  display:block;
  float:left;
  width: 300px;
  height:80px;
  padding-bottom: 20px;
}

.article_text {
  position:relative;
  display:inline-block;
  top: 0%;
  left: 5px;
  width: 60%;
  text-align:justify;
  word-wrap: break-word;
}

/* PROJECTS*/ 
/* projects_container contains all projects */
.projects_container {
  position: relative;
  top: 0px;
  width: 90%;
  text-align:justify;
}

/* project_grids contains just one project */
.projet_grid_without_pics {
  position: relative;
  top: 30px;
  left: 0px;
  width: 100px;
  padding-top:50px;
  height: 200px;
  font-size:10px;
}

.project_grid{
  position: relative;
  top: 30px;
  left: 0px;
  padding-top:10px;
  height: 500px;
  font-size: 10px;
}

.projects_txt {
  position: relative;
  display:block;
  top: 10px;
  width: 95%;
  font-size:15px;
}

.gallery {
  display: flex;
  height: auto;
  align-items:center;
  justify-content: center;
  gap: 10px;
}

.left_img {
  flex:2;
}

.left_img img {
  width: 100%;
  height: auto;
}

.right_img {
  position: relative;
  display:flex;
  float: right;
  flex-direction: column;
  flex:1;
  gap :0px;
  justify-content: space-between;
}

.right_img img {
  width: 100%;
  height: auto;
  padding: 0px;
}

.projects h2 {
  margin-left: 50px;
  font-weight: bold;
  width: 90%;
  font-size: 40px;
}

/* FORMATION */
.formation_grid {
  position: relative;
  top: 0px;
  z-index: -1;
}

.formation {
  position: relative;
  top: 0px;
  width: 95%;
}

.formation_grid .formation p {
  text-align: justify;
  word-break:break-word;
}

/* FOOTER */
.footer {
  position:relative;
  height:1px;
  width: 100%;
  top: 100px; 

  background-color: DimGray;
  padding:40px;
  z-index:2;
}

.footer_txt {
  position:absolute;
  left:50px;
  top: 40px;
  color: white;
  font-size:10px;
  font-weight: bold;
  text-align: center;
  z-index:2;
}


