#interface {
  display: block;
  margin: auto;
  text-align: center;
  padding: 0;
  width: auto;
  height: 400 px;
  white-space: nowrap;
  overflow: auto;
  font-family: "Noto Sans","Arial", "Monospace", "Times New Roman";
  font-size: 20px;
  line-height: 25px;
}

#text {
  text-align: justify;
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: "Times New Roman";
  font-size: 20px;
}

#footer {
  margin: auto;
  margin-top: 100px;

  text-align: center;
  padding: 0;
  width: 1000px;
  height: 400 px;
  white-space: nowrap;
  font-family: "Noto Sans","Arial", "Monospace", "Times New Roman";
  font-size: 20px;
  line-height: 25px;
}

.btn {
  border: none;
  background: DodgerBlue;
  color: white;
  padding: 15px 32px;
  width: 200px;
  position: relative;
  left:10px;
  text-align: center;
  display: inline-block;
  font-weight: 900;
  font-size: 20px;
}
